// Mappa
svg
  // Etichette della leggenda
  text
    alignment-baseline: central !important

.tooltip
  display: inline-block
  position: absolute
  text-align: center
  padding: .7rem
  font: 1.6rem
  background: #fff
  pointer-events: none
  span:first-child
    font-weight: bold
    