section
  height: 100vh
  width: 100vw
.pie-area
  // position: relative
  text-align: center
  h2
    position: absolute
  p
    display: inline-block
    text-align: center
    width: 32rem
    font-size: 7rem
    line-height: 8rem
    margin: 4rem 0
    span
      display: inline-block
      text-align: center
    .value
      font-weight: bold
    .male
      color: #377eb8
    .female
      color: #e41a1c
  // .sex
  //   font-size: 6.3rem
  svg
    // Etichette della leggenda
    text
      alignment-baseline: central !important
  .tooltip-pie
    z-index: 1000
    display: inline-block
    position: absolute
    text-align: center
    padding: .7rem
    font: 1.6rem
    background: #fff
    pointer-events: none
    span:first-child
      font-weight: bold
.line-area
  text-align: center
  position: relative
  .row
    #line-chart
      @include absCenter
.lollipop-area
  text-align: center
  margin-bottom: 10rem
  .row
    padding-top: 7rem
    #lollipop
      // margin: 0 auto
  .lollipop
    height: 100vh
    .tooltip
      z-index: 1000
      display: inline-block
      position: absolute
      padding: .7rem
      font: 1.6rem
      background: #eee
      pointer-events: none
      div
        text-align: center
        font-weight: bold
.methodology
  padding: 10rem 30rem
  .methodology--paragraph
    padding-top: 5rem
    p
      margin-bottom: 3rem
    ul
      list-style-position: inside
      padding-inline-start: 1rem
    h4
      font-size: 2rem
      text-transform: uppercase
      // font-weight: bold
aside
  z-index: 2000
  .range-field
    text-align: center
    position: fixed
    top: 8.5rem
    right: 5rem
    .range-field__label
      font-weight: bold
      font-size: 2rem
    .q-slider
      height: 80vh
      margin-bottom: 1.6rem
  .country-field
    text-align: center
    position: fixed
    width: 15rem
    top: 8.5rem
    right: 5rem
