section
  height: 100vh
  width: 100vw

.total-area
  display: flex
  flex-wrap: wrap
  justify-content: center
  &__main
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    flex: 0 0 100%
    margin-top: 5rem
  &__number
    display: flex
    flex-direction: column
    @media only screen and (max-width: $bp-largest)
      flex-direction: row
      justify-content: center
      flex: 0 0 100%
    p
      display: inline-block
      text-align: center
      width: 30rem
      font-size: 6rem
      line-height: 8rem
      margin: 4rem 0
      span
        display: inline-block
        text-align: center
      .value
        font-weight: bold
      .male
        color: #377eb8
      .female
        color: #e41a1c
  svg
    // Etichette della leggenda
    text
      alignment-baseline: central !important
  .tooltip-pie
    z-index: 1000
    display: inline-block
    position: absolute
    text-align: center
    padding: .7rem
    font: 1.6rem
    background: #fff
    pointer-events: none
    span:first-child
      font-weight: bold

.trend-area
  margin-top: 10rem
  display: flex
  justify-content: center
  flex-wrap: wrap
  &__plot
    display: flex
    justify-content: center
    flex: 0 0 100%

.lollipop-area
  margin-top: 10rem
  display: flex
  justify-content: center
  flex-wrap: wrap
  &__plot
    display: flex
    justify-content: center
    flex: 0 0 100%
    .tooltip
      z-index: 1000
      display: inline-block
      position: absolute
      padding: .7rem
      font: 1.6rem
      background: #eee
      pointer-events: none
      div
        text-align: center
        font-weight: bold

.q-separator
  height: 1px !important
  margin: 0 20rem !important
  @media only screen and (max-width: $bp-largest)
    margin: 0 10rem !important
  
  @media only screen and (max-width: $bp-large)
    margin: 0 5rem !important

.methodology
  height: 100%
  margin: 10rem 25rem

  @media only screen and (max-width: $bp-largest)
    margin: 5rem 15rem
  
  @media only screen and (max-width: $bp-large)
    margin: 2rem 10rem

  .methodology--paragraph
    padding-top: 5rem
    p
      margin-bottom: 3rem
    ul
      list-style-position: inside
      padding-inline-start: 1rem
    h4
      font-size: 2rem
      text-transform: uppercase

aside
  z-index: 2000
  .range-field
    text-align: center
    position: fixed
    top: 8.5rem
    right: 5rem
    .range-field__label
      font-weight: bold
      font-size: 2rem
    .q-slider
      height: 80vh
      margin-bottom: 1.6rem
  .country-field
    text-align: center
    position: fixed
    width: 15rem
    top: 8.5rem
    right: 5rem
