// Mappa
.map-area
  margin-top: 3rem
  .map-area__description
    width: 38rem
    margin-top: 5rem
    .map-area__description-year
      text-align: center
      font-weight: bold
      font-size: 4rem
      letter-spacing: .4rem
    .map-area__description-table
      width: 38rem
      margin: 0 2rem
  #map
    svg
      // Etichette della leggenda
      text
        alignment-baseline: central !important

  .tooltip
    display: inline-block
    position: absolute
    text-align: center
    padding: .7rem
    font: 1.6rem
    background: #fff
    pointer-events: none
    span:first-child
      font-weight: bold
